{% extends 'base.html' %}

<!-- Heade -->
{% block head %}
<title>To Do List</title>
{% endblock %}

<!-- Body -->
{% block body %}
    <header>
        <h1>Task Master</h1>
    </header>

    <main>
        <div>
            <div class="table-container">
                <div class="table-table">
                    <div class="table-tableheader">
                        <span class="table-text"><span>Task</span></span>
                        <span class="table-text02"><span>Added</span></span>
                        <span class="table-text04"><span>Actions</span></span>
                    </div>
                    {% for task in tasks %}
                        <div class="table-tableheader1">
                            <span class="table-text06"><span>{{ task.content }}</span></span>
                            <span class="table-text08"><span>{{ task.data_created.date() }}</span></span>
                            <div class="table-icon-update-remove">
                                <a href="/delete/{{task.id}}" class="table-frame"><i class="fa-solid fa-trash"></i></a>
                                <a href="/update/{{task.id}}" class="table-frame1"><i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                        </div>
                    {% endfor %}
              </div>
            </div>
          </div>
          
        <br>
        
        <form action="/" method="POST">
            <div class="inputform-container">
                <input type="text" class="inputform-inputform" name="content" id="content" placeholder="Enter your task" required autofocus>
                <button class="inputform-btn">
                    <span class="inputform-text1">Submit</span>
                </button> 
            </div>
        </form>

    </main>
{% endblock %}
