{% extends 'base.html' %}

<!-- Heade -->
{% block head %}
<title>To Do List</title>
{% endblock %}

<!-- Body -->
{% block body %}
    <header>
        <h1>Update Task</h1>
    </header>

    <form action="/update/{{task.id}}" method="POST">
        <div class="inputform-container">
            <input type="text" class="inputform-inputform" name="content" id="content" placeholder="Enter your task" required autofocus value="{{task.content}}">
            <button class="inputform-btn">
                <span class="inputform-text1">Submit</span>
            </button> 
        </div>
    </form>

{% endblock %}
